{% extends "index.html.twig" %}

{% block section %}

<div class="pagination">
<ol>
<li><a href="?">Accueil</a></li>
<li><a href="?action=moi">Profil</a></li>
<li>Contexte</li>
</ol>
</div>

<form method="post" action="index.php">
   <fieldset class="form-group">
    <legend>Ajout d'un contexte</legend>
    <div class="form-group row">
      <label for="Identifiant" class="col-sm-2 col-form-label col-form-label-sm">Identifiant du contexte</label>
      <div class="col-sm-10">
        <input  type="text" id="Identifiant" class="form-control form-control-sm" name="Identifiant" placeholder="Identifiant du contexte" />
      </div>
    </div>

    <div class="form-group row">
      <label for="Semestre" class="col-sm-2 col-form-label col-form-label-sm">Semestre du contexte</label>
      <div class="col-sm-10">
        <input type="text" id="Semestre" class="form-control form-control-sm" name="Semestre" placeholder="Semestre du contexte"/>
      </div>
    </div>
    
    <div class="form-group row">
      <label for="Intitule  " class="col-sm-2 col-form-label col-form-label-sm">Intitulé du contexte</label>
      <div class="col-sm-10">
        <input type="text" id="Intitule" class="form-control form-control-sm" name="Intitule" placeholder="Intitule du contexte"/>
      </div>
    </div>

	  <input type="submit" class="btn btn-outline-dark" name="valider_cont" value="valider"/>
   </fieldset>
   </form>

<div class="row mt-5 md-10">
  <div class="col-md-10">
    <h2>SAE/Ressource de l'application</h2>
  </div>

  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nom</th>
        <th scope="col">Semestre</th>
        <th scope="col">Intitulé</th>
      </tr>
    </thead>

    <tbody>
      {% for cont in contexte %}
      <tr>
        <th scope="row">{{cont.idcontexte}}</th>
        <td>{{cont.Identifiant}}</td>
        <td>{{cont.semestre}}</td>
        <td>{{cont.intitule}}</td>
        <td>
          <form method="post" action="index.php">
            <input type="submit" class="btn btn-outline-dark" name="sup_cont" value="Supprimer la ressource">
            <input type="hidden" id="idcontexte" name="idcontexte" value="{{cont.idcontexte}}">
          </form>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}