{% extends "index.html.twig" %}

{% block section %}

<div class="pagination">
  <ol>
    <li><a href="?">Accueil</a></li>
    <li>Profil</li>
  </ol>
</div>







{% for membre in membres %}
<div class="mb-5 d-flex justify-content-center">
  <div class="main-body">
    <div class="row gutters-sm">
      <div class="card ajout_projet">
        <div class="card-body d-flex justify-content-evenly">
          <div class="col-md-3 mt-1 m-4">
            <img class="img-fluid img-responsive rounded-circle product-image" src="{{membre.image}}">
          </div>


          <div class="d-flex flex-column justify-content-between">
            <h2>Informations personnelles</h2>


            <div>
              <h4>{{ membre.prenom }} {{ membre.nom }}</h4>
            </div>
            <p class=" h5">Mail Universitaire : <span class="text-muted h5">{{ membre.email }}</span></p>
            <p class=" h5">Identifiant Universitaire : <span class="text-muted h5">{{ membre.idiut }}</span>
            </p>
            <p class=" h5">Année de naissance : <span class="text-muted h5">{{ membre.dateNaissance
                }}</span></p>
            <ul class=" list-unstyled CTAs p-0 m-0">
              <li>
                <a class="download p-3" href="?action=modif_profil">Modifier mon profil</a>
              </li>
            </ul>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>



{% if membre.admin == "1" %}


<div class="container mt-5 mb-5">
  <div class="d-flex justify-content-center row">
    <div class="col-md-8">

      <div class="d-flex flex-row p-2 bg-blue border rounded mt-4 justify-content-between">
        <img class="rounded admin-image" src="illustration/Utilisateur.png" alt="Moodle MMI">
        <div class="col-md-6 mt-1">
          <h3>NOS UTILISATEURS</h3>
          <p class="text-justify mb-0">Retrouvez tous nos utilisateurs présent dans l'application ✨<br>
            <em>Outil de gestion des utilisateurs</em>
          </p>
        </div>
        <div class="d-flex flex-row align-items-end justify-content-end">
          <form method="post" action="index.php">
            <div>
              <button class="btn btn-outline-blue rounded-circle" name="utilisateur">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                  style="position: absolute;transform: translate(0px, 6px);" class="bi bi-caret-right-fill"
                  viewBox="0 0 16 16">
                  <path
                    d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z" />
                </svg>
                <input class="btn border-0" type="submit" name="utilisateur" value="">

              </button>

            </div>

          </form>
        </div>
      </div>
      <div class="d-flex flex-row p-2 bg-blue border rounded mt-4 justify-content-between">

        <img class="rounded admin-image" src="illustration/Categorie.png" alt="Moodle MMI">

        <div class="col-md-6 mt-1">
          <h3>NOS CATEGORIES</h3>
          <p class="text-justify mb-0">Retrouvez toute les catégories présentent dans l'application ✨<br>
            <em>Outil de gestion des catégories</em>
          </p>
        </div>
        <div class="d-flex flex-row align-items-end justify-content-end">
          <form method="post" action="index.php">
            <div>
              <button class="btn btn-outline-blue rounded-circle" name="categorie">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                  style="position: absolute;transform: translate(0px, 6px);" class="bi bi-caret-right-fill"
                  viewBox="0 0 16 16">
                  <path
                    d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z" />
                </svg>
                <input class="btn border-0" type="submit" name="categorie" value="">

              </button>

            </div>

          </form>
        </div>
      </div>
      <div class="d-flex flex-row p-2 bg-blue border rounded mt-4 justify-content-between">
        <img class="rounded admin-image" src="illustration/Ressource.png" alt="Moodle MMI">
        <div class="col-md-6 mt-1">
          <h3>NOS RESSOURCES</h3>
          <p class="text-justify mb-0">Retrouvez toute les ressources présent dans l'application ✨<br>
            <em>Outil de gestion des ressources</em>
          </p>
        </div>
        <div class="d-flex flex-row align-items-end justify-content-end">
          <form method="post" action="index.php">
            <div>
              <button class="btn btn-outline-blue rounded-circle" name="ressource">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                  style="position: absolute;transform: translate(0px, 6px);" class="bi bi-caret-right-fill"
                  viewBox="0 0 16 16">
                  <path
                    d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z" />
                </svg>
                <input class="btn border-0" type="submit" name="ressource" value="">

              </button>

            </div>

          </form>
        </div>
      </div>
      <div class="d-flex flex-row p-2 bg-blue border rounded mt-4 justify-content-between">

        <img class="rounded admin-image" src="illustration/Validation.png" alt="Moodle MMI">

        <div class="col-md-6 mt-1">
          <h3>VALIDATION DES PROJETS</h3>
          <p class="text-justify mb-0">Retrouvez toute les projets qui ne sont pas encore validé ✨<br>
            <em>Outil de gestion des projets</em>
          </p>
        </div>
        <div class="d-flex flex-row align-items-end justify-content-end">
          <form method="post" action="index.php">
            <div>
              <button class="btn btn-outline-blue rounded-circle" name="projets">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                  style="position: absolute;transform: translate(0px, 6px);" class="bi bi-caret-right-fill"
                  viewBox="0 0 16 16">
                  <path
                    d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z" />
                </svg>
                <input class="btn border-0" type="submit" name="projets" value="">

              </button>

            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% endif %}
{% endfor %}

<div class="row">
  <div class="col-md-10">
    <h2>Mes projets</h2>
  </div>
  <div class="col-md-2 text-right">
    <form method="post" action="index.php">
      <input type="submit" class="btn btn-outline-dark" name="ajout_pro" value="Ajouter un projet">

    </form>
  </div>
</div>

<div class="mt-5 mb-5">
  <div class="d-flex justify-content-center row">
    <div class="col-md-10">

      {% for tab in projet %}
      <div class="row p-2 bg-white border rounded mt-4">
        <div class="col-md-3 mt-1">
          <img class="img-fluid img-responsive rounded product-image" src="{{tab.image}}">
        </div>
        <div class="col-md-6 mt-1">
          <h5>{{tab.titre}}</h5>
          {% set maxLength = 150 %} {# Définir la longueur maximale que vous souhaitez pour le
          texte #}
          {% set truncatedDescription = tab.description[:maxLength] ~ (tab.description|length >
          maxLength ? '...' : '') %}

          {{ truncatedDescription }}
        </div>
        <div class="align-items-center align-content-center col-md-3 border-left mt-1">
          <form method="post" action="index.php">
            <input type="hidden" id="Id_Projet" name="Id_Projet" value="{{tab.idprojet}}">
            <input type="hidden" id="Id_Contexte" name="Id_Contexte" value="{{tab.idcontexte}}">
            <input type="submit" class="btn btn-outline-dark" name="details" value="Voir plus">
            <input type="submit" class="btn btn-outline-dark" name="modif" value="Modifier le projet">
            <input type="submit" class="btn btn-outline-dark" name="sup_pro" value="Supprimer le projet">
          </form>
        </div>
      </div>

      {% endfor %}

    </div>
  </div>
</div>







{% endblock %}